.wrapper {
  margin: 0 0 43px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 22px;
  }
  @media (min-width: 992px) {
    flex-direction: row;
    gap: 32px;
  }
}

.content {
  display: flex;
  gap: 32px;
}

.userBlogContent {
  width: 100%;
  max-width: 1080px;
}

#sideBar {
  width: 100%;
  max-width: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    max-width: 264px;
  }
}

#userBlog {
  background-color: $white-color;
}

.commentBlock {
  margin-top: 20px;
  color: $asphalt-color;
}
.commentAuthor {
  color: $azure-lue;
  text-decoration: none;
}

.commentText {
  margin: 14px 0;
  height: 65px;
  padding-left: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  border-left: 2px solid $silvery-gray;
  overflow: auto;
}
.date {
  display: block;
  margin-top: 16px;
  color: $state-gray;
}

.details {
  display: flex;
  gap: 30px;
  font-size: 16px;
  line-height: 18px;

  .viewsCount {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .commentCount {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.accordion {
  margin-top: 12px;

  @media (min-width: 768px) {
    margin-top: 22px;
  }
  @media (min-width: 992px) {
    margin-top: 32px;
  }
}

.profileCard {
  padding: 35px 0 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white-color;

  .userName {
    margin: 16px 0 10px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: $asphalt-color;
  }

  .speciality {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: $state-gray;
  }
}

.time {
  position: absolute;
  right: 8%;
  display: flex;
  align-items: center;
}
.minutes {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.accordionButtonBlog {
  padding: 18px 32px;
}
.sideBarAccordionBtn {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $asphalt-color;
}
.accordionMessageBody {
  padding: 16px;
  border-top: 1px solid $silvery-gray;
}

.nav-link {
  .iconWrapper {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.customBorder {
  margin: 10px 0;
  border-top: 1px solid $silvery-gray;
}
.accordionBodyNav {
  padding: 8px 0;
  border-top: 1px solid $silvery-gray;

  .navLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .linkText {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: $asphalt-color;
  }
}

.balance {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: $state-gray;
}
.conncetedEntities {
  width: 24px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px 0px 5px;
  border-radius: 8px;
  color: $white-color;
  background-color: $brick-red;
  font-family: VTB Group UI;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.eventsEntities {
  width: 24px;
  height: 16px;
  padding: 0px 5px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: $white-color;
  background-color: $turquoise;
  font-family: VTB Group UI;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.textarea {
  min-height: 88px !important;
  border-color: $silvery-gray;
}
.saveBtn {
  max-height: 32px;
  background-color: $azure-lue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.socialLink {
  display: flex;
  text-decoration: none;
}
