$asphalt-color: #505050;
$white-color: #ffffff;
$milky-color: #fafafa;
$silvery: #f1f1f1;
$azure-lue: #5095ec;
$silvery-gray: #d3d8de;
$state-gray: #8f8f8f;
$brick-red: #e33939;
$turquoise: #47b091;
$transparent-black: #0000001a;
